/Makefile.am
/_Noreturn.h
/alloca.c
/alloca.in.h
/arg-nonnull.h
/asnprintf.c
/assure.h
/at-func.c
/attribute.h
/basename-lgpl.c
/basename-lgpl.h
/btowc.c
/c++defs.h
/cdefs.h
/chdir-long.c
/chdir-long.h
/cloexec.c
/cloexec.h
/close.c
/closedir.c
/ctype.in.h
/dirent-private.h
/dirent.in.h
/dirfd.c
/dirname-lgpl.c
/dirname.h
/dup-safer-flag.c
/dup-safer.c
/dup2.c
/dynarray.h
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fchdir.c
/fcntl.c
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/fd-safer-flag.c
/fd-safer.c
/filename.h
/filenamecat-lgpl.c
/filenamecat.h
/flexmember.h
/float+.h
/float.c
/float.in.h
/fnmatch.c
/fnmatch.in.h
/fnmatch_loop.c
/fpucw.h
/free.c
/frexp.c
/frexpl.c
/fstat.c
/fstatat.c
/futimens.c
/getcwd-lgpl.c
/getdelim.c
/getdtablesize.c
/getline.c
/getlogin_r.c
/getopt-cdefs.in.h
/getopt-core.h
/getopt-ext.h
/getopt-pfx-core.h
/getopt-pfx-ext.h
/getopt.c
/getopt.in.h
/getopt1.c
/getopt_int.h
/getprogname.c
/getprogname.h
/getrandom.c
/gettext.h
/gettime.c
/gettimeofday.c
/glob-libc.h
/glob.c
/glob.in.h
/glob_internal.h
/glob_pattern_p.c
/globfree.c
/hard-locale.c
/hard-locale.h
/idx.h
/intprops.h
/inttypes.in.h
/isblank.c
/isnan.c
/isnand-nolibm.h
/isnand.c
/isnanf-nolibm.h
/isnanf.c
/isnanl-nolibm.h
/isnanl.c
/iswblank.c
/itold.c
/langinfo.in.h
/lc-charset-dispatch.c
/lc-charset-dispatch.h
/libc-config.h
/limits.in.h
/localcharset.c
/localcharset.h
/locale.in.h
/localeconv.c
/lstat.c
/malloc.c
/malloca.c
/malloca.h
/math.c
/math.in.h
/mbrtowc-impl-utf8.h
/mbrtowc-impl.h
/mbrtowc.c
/mbsinit.c
/mbsrtowcs-impl.h
/mbsrtowcs-state.c
/mbsrtowcs.c
/mbtowc-impl.h
/mbtowc-lock.c
/mbtowc-lock.h
/mbtowc.c
/memchr.c
/memchr.valgrind
/mempcpy.c
/memrchr.c
/minmax.h
/mkdir.c
/mkstemps.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/nl_langinfo-lock.c
/nl_langinfo.c
/open.c
/openat-die.c
/openat-priv.h
/openat-proc.c
/openat.c
/openat.h
/opendir.c
/pathmax.h
/pipe-safer.c
/pipe.c
/printf-args.c
/printf-args.h
/printf-frexp.c
/printf-frexp.h
/printf-frexpl.c
/printf-frexpl.h
/printf-parse.c
/printf-parse.h
/raise.c
/readdir.c
/realloc.c
/regcomp.c
/regex.c
/regex.h
/regex_internal.c
/regex_internal.h
/regexec.c
/save-cwd.c
/save-cwd.h
/scratch_buffer.h
/setlocale-lock.c
/setlocale_null.c
/setlocale_null.h
/sig-handler.c
/sig-handler.h
/sigaction.c
/signal.in.h
/signbitd.c
/signbitf.c
/signbitl.c
/sigprocmask.c
/size_max.h
/snprintf.c
/stat-time.c
/stat-time.h
/stat-w32.c
/stat-w32.h
/stat.c
/stdalign.in.h
/stdarg.in.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio-read.c
/stdio-write.c
/stdio.in.h
/stdlib.in.h
/str-two-way.h
/strcasecmp.c
/strcasestr.c
/strdup.c
/streq.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/strings.in.h
/stripslash.c
/strncasecmp.c
/strnlen.c
/strnlen1.c
/strnlen1.h
/sys_random.in.h
/sys_stat.in.h
/sys_time.in.h
/sys_types.in.h
/sys_wait.in.h
/tempname.c
/tempname.h
/time.in.h
/timespec.c
/timespec.h
/unistd--.h
/unistd-safer.h
/unistd.c
/unistd.in.h
/unitypes.in.h
/uniwidth.in.h
/utime.c
/utime.in.h
/utimens.c
/utimens.h
/vasnprintf.c
/vasnprintf.h
/verify.h
/vsnprintf.c
/warn-on-use.h
/wchar.in.h
/wcrtomb.c
/wctype-h.c
/wctype.in.h
/wcwidth.c
/windows-initguard.h
/windows-mutex.c
/windows-mutex.h
/windows-once.c
/windows-once.h
/windows-recmutex.c
/windows-recmutex.h
/windows-rwlock.c
/windows-rwlock.h
/wmemchr-impl.h
/wmemchr.c
/wmempcpy.c
/xalloc-oversized.h
/xsize.c
/xsize.h
